@import "../variabels";
@import "../mixins";

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  overflow: hidden;
  ul {
    display: flex;
    margin-top: 40px;
    padding-bottom: 130px;

  }

  &__intermediaries {
    position: relative;

    &--centre {
      margin-left: 56px;
      margin-right: 56px;
    }
  }

  &__intermediaries-info {
    max-width: 612px;
    background-color: $color-white;
    padding: 32px;
    border-radius: 32px;
    position: absolute;
    top: 256px;
    left: 50px;
    box-shadow: 0 9px 32px rgba(89, 92, 219, 0.05);

    &-employee-padding-rating-review {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-employee {
      display: flex;
      align-items: center;
      margin-left: -28px;
    }

    &-title {
      color: $color-primary;
      font-weight: $font-weight-semiBld;
      font-size: $font-size-recommendation-number;
    }

    &-subtitle {
      color: $color-gray;
      font-size: $font-size-text;
      font-weight: $font-weight-regular;
      line-height: 24px;
      margin-top: 16px;
    }

    &-employee-rating {
      display: flex;
      align-items: baseline;
      p {
        color: $color-recommendation-number;
        font-size: $font-size-recommendation-number;
        font-weight: $font-weight-semiBld;
        margin-left: 16px;
      }
    }

    &-employee-title {
      color: $color-recommendation;
      font-weight: $font-weight-medium;
      font-size: $font-size-text;
    }

    &-employee-subtitle {
     color: #888B97;
      font-size: $font-size-text;
      font-weight: $font-weight-medium;
      margin-top: 4px;

    }

    &-employee-padding {
      margin-bottom: 8px;
    }
  }
}
.pagination {
  padding-bottom: 100px;
  &__item {
    background-color: #E0E3EB;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      background-color: #3C4563;
    }
  }
}


@media (max-width: 992px) {
  .feedback__intermediaries-info {
    max-width: 612px;
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 32px;
    position: absolute;
    top: 256px;
    left: 50px;
    box-shadow: 0 9px 32px rgba(89, 92, 219, 0.05);
  }
  .feedback__ul {
    flex-direction: column;
    align-items: center;
    gap: 151px;

  }
}

