@import "../variabels";
nav {
  margin-top: 40px;
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

  .nav__burger {
    display: none;
  }

.nav__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.nav__burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-out;
}
.nav__burger span:nth-child(1) {
  top: 0;
}
.nav__burger span:nth-child(2), .nav__burger span:nth-child(3) {
  top: 8px;
}
.nav__burger span:nth-child(3) {
  top: 16px;
}
.nav__burger.open span:nth-child(1) {
  top: 8px;
  width: 0;
  left: 50%;
}
.nav__burger.open span:nth-child(2) {
  transform: rotate(45deg);
}
.nav__burger.open span:nth-child(3) {
  transform: rotate(-45deg);
}



.logo {
  display: flex;
  align-items: center;
  font-size: $font-size-medium-text;
  font-weight: $font-weight-semiBld;
  color: $color-primary;


  img {
    margin-right: 15px;
  }
}

.navigation__list {

    display: flex;

}

li {
  margin-right: 24px;
}

.navigation__link {
  color: #F0F3FD;
  padding: 8px 16px;
  background: rgba(255, 255, 255, .10);
  border-radius: $border-radius;
  border: 1px solid rgba(255, 255, 255, .3);
  text-decoration: none;
  font-weight: $font-weight-semiBld;
  font-size: $font-size-text;

}
.navigation__link:hover {
  background: rgba(0, 0, 0, .25);
  transition: 1s;
  color: #2DEB0E;


}
.navigation__link--auth{
  margin-left: 56px;
  color: #047857;
  padding: 12px 24px;
  background-color:$color-light-green;
}
.navigation__signup {
  border: rgba(209, 250, 229, .100);
  color: $color-primary;
}

@media (max-width: 1200px) {
  .navigation__link--auth {
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .nav {
    border-radius: 32px;
    margin-top: 10px;
  }
  .nav__burger {
    display: block;
  }
  .navigation__list {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav__burger {
    display: block;
  }
  .navigation__list {
    display: none;
  }
}
