@import "../_warielbels.scss";

.tour {
  margin-top: 120px;

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  .general__header {
    margin-bottom: 16px;
    &-subtitle {

    }
    &-title {

    }
    &-paragraph {
      margin-top: 16px;
      color: $color-gray;
      font-size: $font-size-medium-text;
      line-height: 28px;

    }
    &-header {
      color: $color-primary;
      font-size: $font-size-medium-text;
    }
  }
  &__detail {


    &-svg {
      width: 24px;
      height: 24px;
    }
  }
  .tour__detail {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 193px 193px;
    grid-template-rows: 3rem;
    margin-left: 7px;
    p{
      margin-left: 16px;
    }
    li {
      display: flex;
    }
  }
}



.tour__collage{
  position: relative;
  &-tourhouse {


  }

  &-photo{
    position: absolute;
    bottom: -43px;
    left: 0;
    border-radius: 4px;

  }

  .toursofa {
    left: -40px;
  }

  .tourfurniture {
    left: 268px;
  }

  .tourvase {
    left: 372px;
  }
}

.line {
  width: 415px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 9px;

}

.tour__dianne {
  display: flex;
  align-items: center;

  &-block {
    margin-left: 24px;
    margin-right: 57px;
  }

 &-contact {
     width: 56px;
     height: 56px;
  }

  &-contact-now {
    background-color: #10B981;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 16px;
    }
  }
}

