@import "../_variabels.scss";

.tour {
  margin-top: 120px;

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


  }



    .tour__title {
      color: $color-primary;
      font-size: $font-size-medium-text;
      margin-top: 16px;
      margin-left: 16px;
  }
  &__detail {

    &-svg {
      width: 24px;
      height: 24px;
    }
  }
  .tour__detail {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 193px 193px;
    grid-template-rows: 3rem;
    margin-left: 16px;

    p{
      margin-left: 16px;
    }
    li {
      display: flex;
    }
  }
}



.tour__collage{
  position: relative;
  &-photo{
    position: absolute;
    bottom: -43px;
    left: 0;
    border-radius: 4px;

  }

  .toursofa {
    left: -40px;
  }

  .tourfurniture {
    left: 268px;
  }

  .tourvase {
    left: 372px;
  }
}

.line {
  width: 415px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 9px;

}

.tour__dianne {
  display: flex;
  align-items: center;

  &-block {
    margin-left: 24px;
    margin-right: 57px;
  }

 &-contact {
     width: 56px;
     height: 56px;
  }

  &-contact-now {
    background-color: #10B981;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;


    svg {
      margin-right: 16px;
    }
  }
}

@media (max-width: 992px) {
  .tour__inner{
    justify-content: center;
  }
  .tour__collage-tourhouse {
    margin-top: 25px;
  }
 .general__paragraph {
   text-align: center;
 }
  .tour__title {
    text-align: center;
  }
  .tour .tour__detail {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .general__suptitle {
    justify-content: center;
  }
  .line {
    width: 100%;
  }
  .tour__dianne {
    justify-content: center;
  }
}
