@import "warielbels";
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: $font-size-medium-text;
  font-weight: $font-weight-semiBld;


  img {
    margin-right: 15px;
  }
}

.navigation__list {
  ul {
    display: flex;

  }
}

li {
  margin-right: 24px;
}

.navigation__link {
  color: #F0F3FD;
  padding: 8px 16px;
  background: rgba(255, 255, 255, .10);
  border-radius: $border-radius;
  border: 1px solid rgba(255, 255, 255, .3);
  text-decoration: none;
  font-weight: $font-weight-semiBld;
  font-size: $font-size-text;

}
.navigation__link:hover {
  background: rgba(0, 0, 0, .25);
  transition: 1s;
  color: #2DEB0E;


}
.navigation__link--auth{
  margin-left: 56px;
  color: #047857;
  padding: 12px 24px;
  background-color:$color-light-green;
}
.navigation__signup {
  border: rgba(209, 250, 229, .100);
  color: $color-primary;
}

