@mixin flex-container ($align: center, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-vertical-container ($align: center) {
  display: flex;
  align-items: $align;
}