
$color-primary: #1B1C57;
$color-green: #10B981;
$color-yellow: #F59E0B;
$color-light-green: #D1FAE5;
$color-gray: #626687;
$color-white: #FFFFFF;
$color-recommendation: #0E1735;
$color-recommendation-number:#3C4563;

$font-size-title: 32px;
$font-size-text: 14px;
$font-size-medium-text: 16px;
$font-size-small-text: 12px;
$font-size-recommendation-text: 24px;
$font-size-recommendation-number: 20px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBld: 600;


$border-radius: 32px;