@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');
@import "mixins";
@import "block/intro";
@import "reset";
@import "block/nav";
@import "variabels";
@import "block/recommendation";
@import "block/tour";
@import "block/feedback";
@import "block/concerns";
@import "block/partners";
@import "block/subscribe";
@import "block/footer";
html, body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
}

  .general {

    &--vertically {
      @include flex-vertical-container;
      flex-direction: column;
      svg {
        margin-bottom: 10px;
      }
    }

    &__paragraph {
      margin-top: 16px;
      color: $color-gray;
      font-size: $font-size-medium-text;
      line-height: 28px;
      margin-left: 16px;
    }

    &__suptitle {
      @include flex-vertical-container;

      color: $color-yellow;
      font-weight: $font-weight-medium;
      font-size: $font-size-text;

       svg {
        margin-right: 8px;
      }
    }
    &__title {
      font-size: $font-size-title;
      color: $color-primary;
      font-weight: $font-weight-semiBld;
      margin-top: 12px;
      text-align: center;
      text-transform: capitalize;
      margin-left: 16px;
    }
  }
  

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
